body {
  background-color: black;
  color: rgb(0, 217, 255);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 4px;
}
header {
  text-align: center;
  font-size: 40px;

}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
button {
  background-color: black;
  color: rgb(0, 217, 255);
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 3px;
  font-size: 20px;
  border-color: rgb(2, 203, 10);
  margin-top: 10px;
  padding: 10px;
}
/* LEFT SIDE */
.menu {
  border: 1px solid rgb(0, 217, 255);
  padding: 20px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10%;
}
#modal {
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
	display: none;
}
#modal-textbox {
	background-color: black;
  border: 1px solid rgb(0, 217, 255);
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	padding: 2%;
}
/* RIGHT SIDE */
.aside {
  border: 1px solid rgb(0, 217, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 10%;
}
.dice {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
#output {
  font-size: 40px;
  text-align: center;
  min-width: 50%;
  height: auto;
  padding: 5% 1%;
  margin-bottom: 10%;
  background-color: #000000;
  /* box-shadow: 1px 1px 1px gray, -1px -1px 1px gray; */
}
/* ---Game Board--- */
.gameboard {
  border: 1px solid rgb(0, 217, 255);
  /* background-color: rgba(0, 94, 255, 0.3); */
  border-radius: 4px;
  height: 700px;
  width: 700px;
  margin-top: 0px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-content: center; */
}
/* ---Game Play Path--- */
.path {
  border: 1px solid rgba(89, 4, 203, 0.3);
  background-color: rgba(89, 4, 203, 0.3);
  height: 10%;
  width: 10%;
  margin: 0 auto;
  color: white;
  justify-content: space-between;
}
.path .pinkToken {
  border: 1px solid rgba(89, 4, 203, 0.3);
  background-color: rgba(89, 4, 203, 0.3);
  height: 10%;
  width: 10%;
  margin: 0 auto;
  color: white;
  justify-content: space-between;
}
#box10, #box11, #box12, #box13, #box14, #box15, #box16, #box19, #box25, #box28, #box34, #box37, #box43, #box46, #box52, #box55, #box61, #box64, #box65, #box66, #box68, #box69, #box70, #box57, #box59, #box48, #box50, #box39, #box41 {
  border: 1px solid rgb(0, 217, 255);
  border-radius: 4px;
  background-color: rgba(0, 217, 255, 0.3);
}
.texttile {
  text-align: center;
}
.texttile > p {
  padding-top: 12px;
}
#box48 {
  border-color: rgb(2, 203, 10);
  background-color: rgba(2, 203, 10, 0.3);
}
#box39, #box41 {
  border-color: rgb(143, 0, 255);
  background-color: rgba(143, 0, 255, 0.3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
/* #box20, #box21, #box22, #box23, #box24, #box31, #box40, #box49, #box58, #box67 {
  background-color: rgb(0, 217, 255);
  border-radius: 4px;
} */

/* ---Player Tokens--- */
#pinkToken {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-top: 12px;
  border-color: rgb(255, 0, 214);
  background-color: rgb(255, 0, 214);
  border-radius: 50%;
  justify-content: center;
}
#yellowToken {
  height: 40px;
  width: 40px;
  margin: 0 auto;
  margin-top: 12px;
  border-color: rgb(235, 255, 0);
  background-color: rgb(235, 255, 0);
  border-radius: 50%;
  justify-content: center;
}
/* ---Toggle Bar by https://www.w3schools.com/howto/howto_css_switch.asp--- */
.toggle {
  height: 100px;
  width: 160px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}
.switch input {
  display:none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 0, 214);/*pink*/
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: rgb(235, 255, 0);/*yellow*/
}
input:focus + .slider {
  box-shadow: 0 0 1px rgb(235, 255, 0);/*yellow*/
}
input:checked + .slider:before {
  -webkit-transform: translateX(65px);
  -ms-transform: translateX(65px);
  transform: translateX(65px);
}
